/* Coolors Exported Palette - https://coolors.co/125793-2c6da1-4684b0-beeef4-000000 */

/* CSS HEX */
--baltic-blue: #125793ff;
--cornflower-ocean: #2C6DA1ff;
--steel-blue: #4684B0ff;
--frosted-blue: #BEEEF4ff;
--black: #000000ff;

/* CSS HSL */
--baltic-blue: hsla(208, 78%, 32%, 1);
--cornflower-ocean: hsla(207, 57%, 40%, 1);
--steel-blue: hsla(205, 43%, 48%, 1);
--frosted-blue: hsla(187, 71%, 85%, 1);
--black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$baltic-blue: #125793ff;
$cornflower-ocean: #2C6DA1ff;
$steel-blue: #4684B0ff;
$frosted-blue: #BEEEF4ff;
$black: #000000ff;

/* SCSS HSL */
$baltic-blue: hsla(208, 78%, 32%, 1);
$cornflower-ocean: hsla(207, 57%, 40%, 1);
$steel-blue: hsla(205, 43%, 48%, 1);
$frosted-blue: hsla(187, 71%, 85%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$baltic-blue: rgba(18, 87, 147, 1);
$cornflower-ocean: rgba(44, 109, 161, 1);
$steel-blue: rgba(70, 132, 176, 1);
$frosted-blue: rgba(190, 238, 244, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-right: linear-gradient(90deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-left: linear-gradient(270deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);
$gradient-radial: radial-gradient(#125793ff, #2C6DA1ff, #4684B0ff, #BEEEF4ff, #000000ff);